**T074 Kermeen**

**Prac 2 B & C**

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()

In [ ]:
#loading dataset
df=pd.read_csv('/content/Sales_with_NaNs_v1.3.csv')
print(df.head(2))
print(df.tail(3))

       Group Customer_Segment  Sales_Before  Sales_After  \
0    Control       High Value    240.548359   300.007568
1  Treatment       High Value    246.862114   381.337555

   Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                     74.684767                          NaN            No
1                    100.000000                        100.0           Yes
          Group Customer_Segment  Sales_Before  Sales_After  \
9997  Treatment        Low Value    208.107142   322.893351
9998  Treatment     Medium Value           NaN   431.974901
9999    Control        Low Value           NaN   124.402398

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
9997                     55.915870                          NaN            No
9998                     66.082462                     81.27403            No
9999                     55.692277                     65.28848           Yes

In [ ]:
print("Dimensions:{}".format(df.shape))
df.describe()

Dimensions:(10000, 7)

,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After
count,8478.000000,9233.000000,8330.000000,8360.000000
mean,203.716998,280.457952,70.252076,73.872593
std,55.273059,85.659543,16.957010,18.128351
min,24.852966,32.414352,22.202441,18.224938
25%,166.629232,221.436990,56.365513,59.925030
50%,203.323607,273.129170,69.490898,73.844594
75%,238.809147,332.570108,83.426798,90.044365
max,545.422547,818.219997,100.000000,100.000000

In [ ]:
#navigating dataframes
print(df.iloc[0])

Group                              Control
Customer_Segment                High Value
Sales_Before                    240.548359
Sales_After                     300.007568
Customer_Satisfaction_Before     74.684767
Customer_Satisfaction_After            NaN
Purchase_Made                           No
Name: 0, dtype: object

In [ ]:
print(df.iloc[1:4])

       Group Customer_Segment  Sales_Before  Sales_After  \
1  Treatment       High Value    246.862114   381.337555
2    Control       High Value    156.978084   179.330464
3    Control     Medium Value    192.126708   229.278031

   Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
1                    100.000000                   100.000000           Yes
2                     98.780735                   100.000000            No
3                     49.333766                    39.811841           Yes

In [ ]:
print(df.iloc[:4])

       Group Customer_Segment  Sales_Before  Sales_After  \
0    Control       High Value    240.548359   300.007568
1  Treatment       High Value    246.862114   381.337555
2    Control       High Value    156.978084   179.330464
3    Control     Medium Value    192.126708   229.278031

   Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made
0                     74.684767                          NaN            No
1                    100.000000                   100.000000           Yes
2                     98.780735                   100.000000            No
3                     49.333766                    39.811841           Yes

In [ ]:
df = pd.read_csv('/content/Sales_with_NaNs_v1.3.csv')
df=df.set_index(df['Group'])
df.loc['Treatment']

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
Group,,,,,,,
Treatment,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
Treatment,Treatment,NaN,135.573003,218.559988,58.075342,69.404918,No
Treatment,Treatment,High Value,235.071493,352.756872,72.919851,70.753225,No
Treatment,Treatment,NaN,306.701452,485.135424,77.431662,78.361282,NaN
Treatment,Treatment,Low Value,164.636319,242.321934,50.557337,63.477245,No
...,...,...,...,...,...,...,...
Treatment,Treatment,Medium Value,209.913990,320.791145,81.851752,83.163704,Yes
Treatment,Treatment,NaN,163.289805,248.916244,72.235869,91.898914,No
Treatment,Treatment,NaN,259.695935,415.181694,88.438776,98.418593,NaN
Treatment,Treatment,Low Value,208.107142,322.893351,55.915870,NaN,No
Treatment,Treatment,Medium Value,NaN,431.974901,66.082462,81.274030,No

In [ ]:
#selecting rows
df[df['Customer_Segment'] == 'Low Value'].head(3)

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
Group,,,,,,,
Control,Control,Low Value,173.752555,213.168232,66.984711,67.881558,NaN
Control,Control,Low Value,139.931539,170.238396,59.844766,NaN,Yes
Control,Control,Low Value,188.338963,232.582486,53.458822,63.467224,Yes

In [ ]:
print("multiple rows")
df[(df['Customer_Satisfaction_After']>=50)&(df['Customer_Segment']=='Low Value')].head(4)

multiple rows

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
Group,,,,,,,
Control,Control,Low Value,173.752555,213.168232,66.984711,67.881558,NaN
Control,Control,Low Value,188.338963,232.582486,53.458822,63.467224,Yes
Treatment,Treatment,Low Value,164.636319,242.321934,50.557337,63.477245,No
Treatment,Treatment,Low Value,182.990785,277.891566,51.354884,64.402414,No

In [ ]:
#replacing values
df['Customer_Segment'].replace('Medium Value','Moderate Value').head(3)

Group
Control      High Value
Treatment    High Value
Control      High Value
Name: Customer_Segment, dtype: object

In [ ]:
#rename columns
df = df.rename(columns={'Sales_Before':'Before_Sales','Sales_After':'After_Sales'})

In [ ]:
#finding the min,max,sum,average and count
print('Maxium: {}'.format(df['After_Sales'].max()))
print('Minimum: {}'.format(df['After_Sales'].min()))
print('Mean: {}'.format(df['After_Sales'].mean()))
print('Sum: {}'.format(df['After_Sales'].sum()))
print('Count: {}'.format(df['After_Sales'].count()))

Maxium: 818.2199974644652
Minimum: 32.414352282538246
Mean: 280.45795220654577
Sum: 2589468.2727230373
Count: 9233

In [ ]:
print('Variance: {}'.format(df[''].var()))
print('Standard: {}'.format(df['Age'].std()))
print('Kurtosis: {}'.format(df['Age'].kurt()))
print('Skewness: {}'.format(df['Age'].skew()))

Variance: 211.0191247463081
Standard: 14.526497332334044
Kurtosis: 0.17827415364210353
Skewness: 0.38910778230082704

In [ ]:
print('Variance: {}'.format(df['After_Sales'].var()))
print('Standard: {}'.format(df['After_Sales'].std()))
print('Kurtosis: {}'.format(df['After_Sales'].kurt()))
print('Skewness: {}'.format(df['After_Sales'].skew()))

Variance: 7337.5573073398045
Standard: 85.6595430021653
Kurtosis: 0.5337759342669837
Skewness: 0.4517444850575581

In [ ]:
#finding unique values
df['Group'].unique()
df['Group'].value_counts()

Group
Control      4300
Treatment    4299
Name: count, dtype: int64

In [ ]:
#handling missing values
df[df['Group'].isnull()].head(2)

,Group,Customer_Segment,Before_Sales,After_Sales,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
Group,,,,,,,
NaN,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes
NaN,NaN,High Value,208.308577,248.17883,95.366670,84.790294,Yes

In [ ]:
#delete a column
df.drop("Customer_Satisfaction_Before",axis=1).head(2)

,Group,Customer_Segment,Before_Sales,After_Sales,Customer_Satisfaction_After,Purchase_Made
Group,,,,,,
Control,Control,High Value,240.548359,300.007568,NaN,No
Treatment,Treatment,High Value,246.862114,381.337555,100.0,Yes

In [ ]:
#delete a row
df[df['Customer_Satisfaction_After'] <= 20].head(2)

,Group,Customer_Segment,Before_Sales,After_Sales,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
Group,,,,,,,
Treatment,Treatment,Low Value,150.193833,237.754187,27.197165,18.224938,No
Control,Control,Medium Value,188.569440,232.474566,48.679164,18.494432,No

In [ ]:
df.groupby(level='Group')['Customer_Segment'].count()
df.groupby(['Customer_Segment','After_Sales'])['Before_Sales'].mean()

Customer_Segment  After_Sales
High Value        33.427236             NaN
                  53.423173       60.128408
                  56.677686       57.206883
                  61.504008       53.764181
                  63.203831             NaN
                                    ...
Medium Value      540.306760     357.367755
                  549.414734     352.315476
                  553.187582     353.677147
                  559.779497     357.591164
                  635.753770     413.254905
Name: Before_Sales, Length: 7351, dtype: float64

In [ ]:
#loops
for name in df['Group'][0:2]:
  print(name.upper())

CONTROL
TREATMENT

In [ ]:
[name.upper() for name in df['Group'][0:2]]

['CONTROL', 'TREATMENT']

In [ ]:
df.groupby("Customer_Segment").apply(lambda x: x.count())

/tmp/ipython-input-2054265036.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Customer_Segment").apply(lambda x: x.count())

,Group,Customer_Segment,Before_Sales,After_Sales,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
Customer_Segment,,,,,,,
High Value,2275,2638,2245,2433,2189,2179,2429
Low Value,2301,2699,2273,2494,2226,2243,2465
Medium Value,2309,2697,2293,2487,2252,2294,2481

In [ ]:
#checking missing values
print(df.isnull().sum())
print("total:",df.isnull().sum().sum())

Group                           1401
Customer_Segment                1966
Before_Sales                    1522
After_Sales                      767
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64
total: 9771

2 primary ways of handling missing values:
*   Deleting the Missing values
*   Imputing the Missing Values

In [ ]:
#deleteing the missing values(deleting entire row)
df1=df.dropna(axis=0)
print(df1.isnull().sum())

Group                           0
Customer_Segment                0
Before_Sales                    0
After_Sales                     0
Customer_Satisfaction_Before    0
Customer_Satisfaction_After     0
Purchase_Made                   0
dtype: int64

In [ ]:
#deleting entire column
df2=df.drop(['Customer_Segment'],axis=1)
print(df2.isnull().sum())

Group                           1401
Before_Sales                    1522
After_Sales                      767
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64

In [ ]:
#Imputing the Missing Value
#replace missing values with 0
df1=pd.read_csv('/content/Sales_with_NaNs_v1.3.csv')
df1["Customer_Segment"] =  df1["Customer_Segment"].fillna(0)
print(df1["Customer_Segment"].isnull().sum())

0

In [ ]:
#replacing missing values with mean
df2=pd.read_csv('/content/Sales_with_NaNs_v1.3.csv')
df2["Sales_Before"] =  df2["Sales_Before"].fillna(df2["Sales_Before"].mean())
print(df2["Sales_Before"].isnull().sum())

0

In [ ]:
#replacing with mode
df3=pd.read_csv('/content/Sales_with_NaNs_v1.3.csv')
df3["Customer_Satisfaction_After"] =  df3["Customer_Satisfaction_After"].fillna(df3["Customer_Satisfaction_After"].mode()[0])
print(df3["Customer_Satisfaction_After"].isnull().sum())

0

In [ ]:
#replacing with median
df4=pd.read_csv('/content/Sales_with_NaNs_v1.3.csv')
df4["Age"] =  df4["Age"].fillna(df4["Age"].median())
print(df4["Age"].isnull().sum())

0

In [ ]:
# Forward-Fill
df5=pd.read_csv('/content/Titanic-Dataset.csv')
df5['Age'].fillna(method='ffill')

/tmp/ipython-input-1819814431.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df5['Age'].fillna(method='ffill')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    19.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
# Backward-Fill
df6=pd.read_csv('/content/Titanic-Dataset.csv')
df6['Age'].fillna(method='bfill')

/tmp/ipython-input-150787154.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df6['Age'].fillna(method='bfill')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    26.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
#interpolation
df7=pd.read_csv('/content/Titanic-Dataset.csv')
df7['Age'].interpolate()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    22.5
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
df=pd.read_csv('/content/adult_census_income.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
df = df.replace({'?':'NaN'}).head(3)
import numpy as np
df = df.replace("NaN", np.nan)

In [ ]:
#Impute the Most Frequent Value in categorical dataset
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
df2=df
imputer.fit_transform(df2)

array([[90, 'Private', 77053, 'HS-grad', 9, 'Widowed', 'Exec-managerial',
        'Not-in-family', 'White', 'Female', 0, 4356, 40, 'United-States',
        '<=50K'],
       [82, 'Private', 132870, 'HS-grad', 9, 'Widowed',
        'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 4356,
        18, 'United-States', '<=50K'],
       [66, 'Private', 186061, 'Some-college', 10, 'Widowed',
        'Exec-managerial', 'Unmarried', 'Black', 'Female', 0, 4356, 40,
        'United-States', '<=50K']], dtype=object)

In [ ]:
df3=df
imputer = SimpleImputer(strategy='constant', fill_value='missing')
imputer.fit_transform(df)

array([[90, 'missing', 77053, 'HS-grad', 9, 'Widowed', 'missing',
        'Not-in-family', 'White', 'Female', 0, 4356, 40, 'United-States',
        '<=50K'],
       [82, 'Private', 132870, 'HS-grad', 9, 'Widowed',
        'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 4356,
        18, 'United-States', '<=50K'],
       [66, 'missing', 186061, 'Some-college', 10, 'Widowed', 'missing',
        'Unmarried', 'Black', 'Female', 0, 4356, 40, 'United-States',
        '<=50K']], dtype=object)

In [ ]:
df4=pd.read_csv('/content/Titanic-Dataset.csv')
df4.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Impute Missing Values Using Sci-kit Learn Librar
# Univariate Approach
import numpy as np
from sklearn.impute import SimpleImputer
df4=pd.read_csv('/content/Titanic-Dataset.csv')
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
df4['Age'] = imp.fit_transform(df4[['Age']])
print(imp.transform(df4[['Age']].head(6)))

[[22.        ]
 [38.        ]
 [26.        ]
 [35.        ]
 [35.        ]
 [29.69911765]]

In [ ]:
df5=pd.read_csv('/content/Titanic-Dataset.csv')
num_cols = df5.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df5.select_dtypes(include=['object']).columns

#converting text to numbers
from sklearn.preprocessing import LabelEncoder
le_dict = {}
for col in cat_cols:
    le = LabelEncoder()
    df5[col] = df5[col].astype(str)
    df5[col] = le.fit_transform(df4[col])
    le_dict[col] = le

# Multivariate Approach
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
impute_it = IterativeImputer()
df5_imputed = impute_it.fit_transform(df5)
df5_imputed = pd.DataFrame(df5_imputed, columns=df5.columns)
print(impute_it.transform(df5_imputed.head(6)))

[[  1.           0.           3.          13.           1.
   22.           1.           0.         415.           7.25
   98.           2.        ]
 [  2.           1.           1.           5.           0.
   38.           1.           0.         504.          71.2833
   33.           0.        ]
 [  3.           1.           3.         205.           0.
   26.           0.           0.         594.           7.925
   98.           2.        ]
 [  4.           1.           1.         105.           0.
   35.           1.           0.         373.          53.1
  147.           2.        ]
 [  5.           0.           3.         523.           1.
   35.           0.           0.         352.           8.05
   98.           2.        ]
 [  6.           0.           3.         453.           1.
   27.49739911   0.           0.         108.           8.4583
   98.           1.        ]]

In [ ]:
#(KNNImputer)
from sklearn.impute import KNNImputer
impute_knn = KNNImputer(n_neighbors=2)
impute_knn.fit_transform(df5)
print(impute_knn.transform(df5.head(6)))

[[  1.       0.       3.      13.       1.      22.       1.       0.
  415.       7.25    98.       2.    ]
 [  2.       1.       1.       5.       0.      38.       1.       0.
  504.      71.2833  33.       0.    ]
 [  3.       1.       3.     205.       0.      26.       0.       0.
  594.       7.925   98.       2.    ]
 [  4.       1.       1.     105.       0.      35.       1.       0.
  373.      53.1    147.       2.    ]
 [  5.       0.       3.     523.       1.      35.       0.       0.
  352.       8.05    98.       2.    ]
 [  6.       0.       3.     453.       1.      21.5      0.       0.
  108.       8.4583  98.       1.    ]]